<h3><%= @user.name %></h3>
<p><%= @user.email %></p>
<p><%= @user.role %></p>

<% if @proposals %>
  <% @proposals.each do |proposal| %>

  <div class='col-md-8 col-md-offset-2'>
    <div class='panel-group'>
      <div class='panel'>
        <div class='panel-heading'>
          <h4 class='panel-title'>
            <a data-toggle='collapse' data-parent='.panel-group' href='#proposals'><%= proposal.title %></a>
          </h4>
        </div>
        <div id='proposals' class='panel-collapse collapse'>
          <div class='panel-body'>
            <p>Experiments:</p>
            <ul class='list-unstyled'>
            <% proposal.experiments.each do |experiment| %>
              <li><%= experiment.title %></li>
              <li><%= experiment.description %></li>
              <li><%= experiment.equipment %></li>
              <li><%= experiment.procedure %></li>
              <li><%= experiment.observations %></li>
              <li><%= experiment.results %></li>
              <li><%= experiment.conclusion %></li>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
<% end %>

<% if @proposals %>
  <% @proposals.each do |proposal| %>

  <div class='col-md-8 col-md-offset-2'>
    <div class='panel-group'>
      <div class='panel'>
        <div class='panel-heading'>
          <h4 class='panel-title'>
            <a data-toggle='collapse' data-parent='.panel-group' href='#proposals'><%= proposal.title %></a>
          </h4>
        </div>
        <div id='proposals' class='panel-collapse collapse'>
          <div class='panel-body'>


            <% if (proposal.experiments.length > 0) %>
              <% proposal.experiments.each do |experiment| %>

              <div class='col-md-7'>
                <div class='panel-group'>
                  <div class='panel'>
                    <div class='panel-heading'>
                      <h4 class='panel-title'>
                        <a data-toggle='collapse' data-parent='.panel-group' href='#experiments'><%= experiment.title %></a>
                      </h4>
                    </div>
                    <div id='experiments' class='panel-collapse collapse'>
                      <div class='panel-body'>
                        <p>Experiments:</p>
                        <ul class='list-unstyled'>
                        <% proposal.experiments.each do |experiment| %>
                          <li><%= experiment.title %></li>
                          <li><%= experiment.description %></li>
                          <li><%= experiment.equipment %></li>
                          <li><%= experiment.procedure %></li>
                          <li><%= experiment.observations %></li>
                          <li><%= experiment.results %></li>
                          <li><%= experiment.conclusion %></li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
<% end %>