<h1><%= @proposal.title %></h1>
<h3>Current Experiments</h3>
  <% @experiments.each do |experiment| %>
    <h4><%= experiment.title %></h4>
    <p>Stage: <%= experiment.current_stage %></p>
    <p>Title: <%= experiment.title %></p>
    <p>Description: <%= experiment.description %></p>
  <% end %>
