<h1>Experiment #<%= @experiment.id %>: <%= @experiment.title %></h1>
<div class="row well">
  <div class='col-md-3'>
    <h3>Proposal Title</h3>
      <%= @proposal.title %>
    <h3>Stage</h3>
      <%= @experiment.current_stage %>
  </div>
  <div class='col-md-6'>
    <h3>Description</h3>
      <%= @experiment.description %>
  </div>
  <div class='col-md-3'>
    <h3>Equipment</h3>
    <ul class='list-unstyled'>
      <% @experiment.equipment.split(", ").each do |tool| %>
        <li><%= tool %></li>
      <% end %>
    </ul>
  </div>
</div>

  <br>
  <div id="equipment_comments">
    <%= render :partial => "comments/index_equipment.html.erb", :collection => @equipment_comments, as: :equipment_comments  %>
  </div>
  <button class='experiment_comment_button'>Add Comment</button>
  <div class = 'experiment_comment_box'>
    <%= render :partial => "comments/form_equipment.html.erb" %>
  <button class='cancel_experiment_comment'>Cancel</button>
</div>


<h3>Procedure</h3>
  <%= @experiment.procedure %>
<div id="procedure_comments">
  <%= render :partial => "comments/index_procedure.html.erb", :collection => @procedure_comments, as: :comments %>
</div>
<button class='experiment_comment_button'>Add Comment</button>
<div class = 'experiment_comment_box'>
  <%= render :partial => "comments/form_procedure.html.erb" %>
<button class='cancel_experiment_comment'>Cancel</button>
</div>


<h3>Observations</h3>

<div class="container">
  <ul class='list-unstyled'>
    <% @experiment.observations.each do |obs| %>
      <div class="row">
        <div class="col-md-7">
        <li>
          <%= obs %>
        </div>
        <div class="col-md-5">
          <div id="observations_comments">

          </div>
          <button class='experiment_comment_button'>Add Comment</button>
          <div class = 'experiment_comment_box'>
            <%= render :partial => "comments/form_observations.html.erb" %>
          <button class='cancel_experiment_comment'>Cancel</button>
          </div>
        </li>
      </div>
    </ul>
  <% end %>
  </div>
</div>


<h3>Results</h3>
<%= @experiment.results %>
<div id="results_comments">
<%= render :partial => "comments/index_results.html.erb", :collection => @results_comments, as: :comments %>
</div>
<button class='experiment_comment_button'>Add Comment</button>
<div class = 'experiment_comment_box'>
<%= render :partial => "comments/form_results.html.erb" %>
  <button class='cancel_experiment_comment'>Cancel</button>

</div>


<h3>Conclusion</h3>
<%= @experiment.conclusion %>
<div ="conclusion_comments">
<%= render :partial => "comments/index_conclusion.html.erb", :collection => @conclusion_comments, as: :comments %>
</div>
<button id='experiment_comment_button'>Add Comment</button>
<div class = 'experiment_comment_box'>
<%= render :partial => "comments/form_conclusion.html.erb" %>
  <button class='cancel_experiment_comment'>Cancel</button>

</div>

<% if session[:user_id] == @experiment.researcher_id %>
  <p>
    <%= link_to 'Edit', edit_proposal_experiment_path %>
  </p>
  <p>
    <%=   link_to 'Delete', proposal_experiment_path,
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>

<% if session[:user_id] == @experiment.researcher_id || @experiment.proposal.faculty_id%>
  <%= render :partial => "comments/formExperiment.html.erb" %>
<% end %>
