<h1>Experiment #<%= @experiment.id %>: <%= @experiment.title %></h1>
<h3>Stage</h3>
<%= @experiment.current_stage %>
<h3>Title</h3>
<%= @experiment.title %>
<h3>Description</h3>
<%= @experiment.description %>

  <h3>Equipment</h3>
  <%= @experiment.equipment %>

  <br>
  <div id="equipment_comments">
    <%= render :partial => "comments/index_equipment.html.erb", :collection => @equipment_comments, as: :equipment_comments  %>
  </div>
  <button class='experiment_comment_button'>Add Comment</button>
  <div class = 'experiment_comment_box'>
  <%= render :partial => "comments/form_equipment.html.erb" %>
  <button class='cancel_experiment_comment'>Cancel</button>
</div>


<h3>Procedure</h3>
<%= @experiment.procedure %>
<div id="procedure_comments">
<%= render :partial => "comments/index_procedure.html.erb", :collection => @procedure_comments, as: :comments %>
</div>
<button class='experiment_comment_button'>Add Comment</button>
<div class = 'experiment_comment_box'>
<%= render :partial => "comments/form_procedure.html.erb" %>
<button class='cancel_experiment_comment'>Cancel</button>

</div>


<h3>Observations</h3>
<%= @experiment.observations %>
<div id="observations_comments">
<%= render :partial => "comments/index_observations.html.erb", :collection => @observations_comments, as: :comments %>
</div>
<button class='experiment_comment_button'>Add Comment</button>
<div class = 'experiment_comment_box'>
<%= render :partial => "comments/form_observations.html.erb" %>
  <button class='cancel_experiment_comment'>Cancel</button>

</div>


<h3>Results</h3>
<%= @experiment.results %>
<div id="results_comments">
<%= render :partial => "comments/index_results.html.erb", :collection => @results_comments, as: :comments %>
</div>
<button class='experiment_comment_button'>Add Comment</button>
<div class = 'experiment_comment_box'>
<%= render :partial => "comments/form_results.html.erb" %>
  <button class='cancel_experiment_comment'>Cancel</button>

</div>


<h3>Conclusion</h3>
<%= @experiment.conclusion %>
<div ="conclusion_comments">
<%= render :partial => "comments/index_conclusion.html.erb", :collection => @conclusion_comments, as: :comments %>
</div>
<button id='experiment_comment_button'>Add Comment</button>
<div class = 'experiment_comment_box'>
<%= render :partial => "comments/form_conclusion.html.erb" %>
  <button class='cancel_experiment_comment'>Cancel</button>

</div>


<p>
  <%= link_to 'Edit', edit_proposal_experiment_path %>
</p>

<p>
  <%=   link_to 'Delete', proposal_experiment_path,
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
</p>


