<% if @current_user.is_faculty? %>

<h1>Submit a New Proposal</h1>

<%= form_for @proposal, url: proposals_path do |f| %>

<<<<<<< HEAD
      <%= f.text_area :title, placeholder: 'Title', size: '100x2' %>
=======
      <%= f.text_field :title, placeholder: 'Title' %>
>>>>>>> master
      <br>
      <%= f.text_field :department, placeholder: 'Department', size: "100x8" %>
      <br>
      <%= f.text_area :summary, placeholder: 'Summary', size: "100x8" %>
      <br>
      <%= f.text_area :hypothesis, placeholder: 'Hypothesis', size: '100x4' %>
      <br>
      <%= f.submit, class: 'btn btn-default' %>
  <% end %>
<% end %>