<h1>Submit a New Proposal</h1>


<%= form_for @proposal, url: proposals_path do |f| %>
    
      <%= f.text_field :title, placeholder: 'Title' %>
      <br>
      <%= f.text_field :department, placeholder: 'Department' %>
      <br>
      <%= f.text_area :summary, placeholder: 'Summary' %>
      <br>
      <%= f.text_field :hypothesis, placeholder: 'Hypothesis' %>
      <br>
      <%= f.submit %>
  <% end %>