<% if @current_user.is_faculty? %>

<div class="row">
  <div class="span4 well">
    <%= form_for @proposal, url: proposals_path do |f| %>
        <fieldset>
          <legend>Submit New Proposal</legend>
          <div class="control-group">
            <%= f.label :title, :class => "control-label" %>
            <div class="controls">
              <%= f.text_area :title, size: '100x2' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :department, :class => "control-label" %>
            <div class="controls">
              <%= f.text_area :department, size: '100x2' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :summary, :class => "control-label" %>
            <div class="controls">
              <%= f.text_area :summary, size: '100x8' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :hypothesis, :class => "control-label" %>
            <div class="controls">
              <%= f.text_area :hypothesis, size: '100x8' %>
            </div>
          </div>

          <div class="form-actions">
            <%= f.submit :class => "btn btn-primary" %>
          </div>
        </fieldset>
    <% end %>
  </div>
</div>
<% end %>