<h1><%= @proposal.title %></h1>
<p>Submitted by: <%=  @proposal.faculty.name %> </p><p>Summary: <%=  @proposal.summary %> </p>
<p>Hypothesis: <%=  @proposal.hypothesis %> </p>


<%= link_to "Edit", edit_proposal_path  %> | <%= link_to "Delete" %>

<%= render :partial => "comments/formProposal.html.erb" %>
<%= render :partial => "comments/index.html.erb" %>
