<h1><%= @proposal.title %></h1>
<p>Submitted by: <%=  @proposal.faculty.name %> </p>
<p>Summary: <%=  @proposal.summary %> </p>
<p>Hypothesis: <%=  @proposal.hypothesis %> </p>
<br>

<%= link_to "Edit", edit_proposal_path  %> | <%= link_to "Delete", proposal_path(@proposal), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %> | <%= link_to "Sign Up", new_proposal_experiment_path(@proposal.id) %>

<% if @experiment %>

<% @experiments.each do |experiment| %>

    <p><%= link_to experiment.title, proposposal_experiment_path(experiment)<p> %>
    <p><%= experiment.title %> </p>
    <p><%= experiment.researcher.name %></p>
    <p><%= experiment.description %> </p>
  <br>
<% end %>
<% end %>

<%= render :partial => "comments/formProposal.html.erb" %>
<%= render :partial => "comments/index.html.erb" %>
