<h1><%= @proposal.title %></h1>
<p>Submitted by: <%=  @proposal.faculty.name %></p>
<p>Summary: <%=  @proposal.summary %></p>
<br>

<% if @current_user.id === @proposal_creator.id  %>

  <%= link_to "Edit", edit_proposal_path  %> | <%= link_to "Delete", proposal_path(@proposal), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %> 

  <h2>Experiments</h2>
      <% if @experiments %>
        <% @experiments.each do |experiment| %>
           <h3><%= experiment.title %></h3>
            <p>Researcher: <%= experiment.researcher.name %></p>
            <p><%= experiment.description %></p>
          <br>
    <% end %>
  <% end %>

<h2>Comments</h2>
<br>
<%= render :partial => "comments/formProposal.html.erb" %>
<%= render :partial => "comments/index.html.erb" %>
<% end %>

<% if @current_user.is_researcher? %>
<%= link_to "Sign Up", new_proposal_experiment_path(@proposal.id) %>
<br>
    <% if @experiments %>
        <% @experiments.each do |experiment| %>
        <% if @current_user.id === experiment.researcher.id %>
                 <h3><%= experiment.title %></h3>
                  <p>Researcher: <%= experiment.researcher.name %></p>
                  <p><%= experiment.description %></p>
                <br>
        <% end %>
      <%end %>
  <% end %>
<% end %>


